html,
body {
  height: 100%;
  font-size: 13px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  background-color: #000000;
}

h1, h2 {
  font-family: 'Baloo', cursive;
  color: #D90429;
}

@media screen and (min-width: 375px) {
  html,
  body {
    font-size: 15px;
  }
}

@media screen and (min-width: 414px) {
  html,
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  hr {
    display: none;
  }
}

@media screen and (max-height: 650px) and (min-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}

.content {
  width: 80%;
  max-width: 750px;
  margin: auto;
  align-self: center;
  padding: 25px 12.5px;
}

a {
  text-decoration: none;
}

hr {
  margin: 10px 0px;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h3 {
  font-size: 1.05rem;
}

h2 {
  font-size: 1.5rem;
}

ul {
  padding: 0;
  padding-right: 5px;
  list-style: none;
}

li {
  padding-bottom: 10px;
}

.fa {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 10px 10px 5px 0px;
  color: #263238;
}

.link {
  cursor: pointer;
  color: #039be5;
  font-weight: bold;
}
