body {
  background-color: #303139;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.nav-bar {
  background-color: #303139;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
}

.brand-initial {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: 'Open Sans';
  width: 40px;
  border:2px solid #BE0E0E; 
}