body, html {
  height: 100%;
  background-color: #303139;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.nav-bar {
  background-color: #303139;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  margin: 10px;
}

.brand-initial {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: 'Open Sans';
  width: 40px;
  border:2px solid #BE0E0E; 
}

.navItem {
  color: white;
  padding: 10px;
}
.navItem:hover {
  color: white;
  text-decoration: none;
}

.footer-row {
  position: fixed;
  bottom: 10px;
  height: 30px;
  width: 125px;
  margin-left: 50%;
  margin-right: 50%;
  display: flex;
}

.footer-item {
  padding: 0.5mm;
  cursor: pointer;
  justify-content: center;
}

.page-body {
  height: 50%;
  background: #BE0E0E;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
}

.welcome-text {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 30px;
  margin-top: 0;
  text-align: center;
}

.center {
  display: inline-table;
  height: 33%;
  width:100%;
  margin: 0 auto;
  padding: 5mm;
  border: 1px solid white;
}

